<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Values support placeholders. E.g. Environment variable -->
		<add key="AgentManagerIp" value="192.168.1.45" />
		<add key="AgentManagerPort" value="10000" />
		<add key="LocalPort" value="10001" />
		<add key="MaxConcurrentChecks" value="3" />
		<add key="MonitorAgentId" value="940c9f2d-3291-4ebb-90d2-a12fee4bfe6a" />
		<add key="MonitorItemFilesRootFolder" value="{process-folder}\\Config\\CheckerFiles" />
		<add key="SecurityKey" value="111111" />
	</appSettings>
</configuration>