<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Values support placeholders. E.g. Environment variable -->
		<add key="AgentManagerIp" value="192.168.1.45" />
		<add key="AgentManagerPort" value="10000" />
		<add key="LocalPort" value="10001" />
		<add key="MaxConcurrentChecks" value="3" />
		<add key="MonitorAgentId" value="28518860-511d-41e6-b1d8-392c6deb069a" />
		<add key="MonitorItemFilesRootFolder" value="{process-folder}\\Config\\CheckerFiles" />
		<add key="SecurityKey" value="111111" />
		<add key="HeartbeatSecs" value="60"/>
		<add key="MaxLogDays" value="7"/>
	</appSettings>
</configuration>