<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="MonitorAgentManagerId" value="88d5ed5f-5257-4a1a-95bf-fdd1d9789376" />
		<add key="MaxConcurrentMessages" value="5" />
		<add key="LocalPort" value="10000" />
		<add key="HeartbeatSecs" value="60"/>
	</appSettings>
</configuration>