<style>
    .imageandtextimg {
        height: 18px;
        width: 18px;
    }
</style>

@if (!String.IsNullOrEmpty(ImageSource))
{
    <div>
        <img class="imageandtextimg" src="@ImageSource" />@ChildContent
    </div>
}

@code {
    [Parameter] public string ImageSource { get; set; } = String.Empty;

    //[Parameter] public string Text { get; set; } = String.Empty;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
