@page "/monitoragentgroups/details"
@using Microsoft.EntityFrameworkCore
@using CFMonitor.Interfaces
@using CFMonitor.Models
@inject NavigationManager NavigationManager
@inject IMonitorAgentGroupService MonitorAgentGroupService

@attribute [Authorize(Roles = "Administrator,User")]

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Monitor Agent Group</h2>
    <hr />
    @if (MonitorAgentGroup is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@MonitorAgentGroup.Name</dd>
        </dl>
        <div>
            <a href="@($"/monitoragentgroups/edit?id={MonitorAgentGroup.Id}")">Edit</a> |
            <a href="@($"/monitoragentgroups")">Back to List</a>
        </div>
    }
</div>

@code {
    private MonitorAgentGroup? MonitorAgentGroup;

    [SupplyParameterFromQuery]
    private string Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        MonitorAgentGroup = await MonitorAgentGroupService.GetByIdAsync(Id);

        if (MonitorAgentGroup is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
