@page "/fileobjects/details"
@using Microsoft.EntityFrameworkCore
@using CFMonitor.Interfaces
@using CFMonitor.Models
@inject NavigationManager NavigationManager
@inject IFileObjectService FileObjectService

@attribute [Authorize(Roles = "Administrator,User")]

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>File</h2>
    <hr />
    @if (FileObject is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@FileObject.Name</dd>            
        </dl>
        <div>
            <a href="@($"/fileobjects/edit?id={FileObject.Id}")">Edit</a> |
            <a href="@($"/fileobjects")">Back to List</a>
        </div>
    }
</div>

@code {
    private FileObject? FileObject;

    [SupplyParameterFromQuery]
    private string Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        FileObject = await FileObjectService.GetByIdAsync(Id);

        if (FileObject is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
