@page "/"

<PageTitle>Home</PageTitle>

<div class="row">
    <div class="col-12">
        <h3 class="fw-bolder">Welcome to CF Monitor</h3>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <AuthorizeView>
                    <NotAuthorized>
                        <span>You are not logged in. Please <a class="fw-bolder" href="/login">click here</a> to login.</span>
                    </NotAuthorized>
                    <Authorized>
                        <span>Logged in. <a class="fw-bolder" href="/logout">Click here</a> to logout.</span>
                    </Authorized>
                </AuthorizeView>

            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <AuthorizeView>
                    <Authorized>
                        <EventFeed></EventFeed>
                    </Authorized>
                </AuthorizeView>

            </div>
        </div>

    </div>
</div>

